
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed&display=swap');

* {
    box-sizing: border-box;
}

body{

    font-family: 'Encode Sans Semi Condensed', sans-serif;
    background-color: lightsteelblue;
    
}

header {
    background-color: rgb(224, 221, 221);
}

.navbar{
    display: flex;
    align-items: center;    
}

.logo {
    line-height: 10px;
}

.navbar ul{
    display: flex;
    flex-direction: row;    
}

.navbar ul li{
    margin: 0 20px;
    list-style-type: none;
    font-size: 20px;
}

.navbar ul li a{
    
    text-decoration: none;
}
.container{
    margin: 50px 150px;
}

.container h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.box-container {
    display: flex;
    justify-content: center;
    
}

.box {
    background-color: white;
    margin: 0 20px;
    box-shadow: 2px 7px 1px whitesmoke;
    border-radius: 5px;
    border: 1px solid white;
    padding-bottom: 10px;
    text-align: center;
    align-content: center;
}

.box:hover {
    transform: scale(1.1);
}
.box-body a {
    text-decoration: none;
    color: darkslategrey;
}
